$color-primary-white: #ffffff;
$color-primary-light-grey: #d4d5d4;
$color-primary-dark: #2a2b2a;
$color-secondary-light-dark: #7f807f;
$color-primary-salmon-light: #d46c6c;
$color-secondary-salmon-dark: #7e4040;
